{% extends 'AcmeDemoFilterBundle::layout.html.twig' %}

{% block title %}Filter Demo - Frontend{% endblock %}

{% block head_style %}
    {{ parent() }}
    {{ oro_filter_render_header_stylesheet() }}
{% endblock %}

{% block head_script %}
    {{ parent() }}
    {{ oro_filter_render_header_javascript() }}

    <script type="text/javascript">
        $(function() {
            var demoFilters = {
                'text_filter':        {{ oro_filter_render_filter_javascript(form.children.text_filter) }},
                'number_filter':      {{ oro_filter_render_filter_javascript(form.children.number_filter) }},
                'date_filter':        {{ oro_filter_render_filter_javascript(form.children.date_filter) }},
                'datetime_filter':    {{ oro_filter_render_filter_javascript(form.children.datetime_filter) }},
                'boolean_filter':     {{ oro_filter_render_filter_javascript(form.children.boolean_filter) }},
                'select_filter':      {{ oro_filter_render_filter_javascript(form.children.select_filter) }},
                'multiselect_filter': {{ oro_filter_render_filter_javascript(form.children.multiselect_filter) }}
            };

            var filtersList = new Oro.Filter.List({ filters: demoFilters });
            $('#demoFilterList').html(filtersList.render().$el);

            // service functions for demo
            $('#showSelectFilterButton').on('click', function() {
                filtersList.enableFilter(filtersList.filters['select_filter']);
            });
            $('#hideSelectFilterButton').on('click', function() {
                filtersList.disableFilter(filtersList.filters['select_filter']);
            });

            $('#showAllFiltersButton').on('click', function() {
                _.each(filtersList.filters, function(filter) {
                    filtersList.enableFilter(filter);
                });
            });
            $('#hideAllFiltersButton').on('click', function() {
                _.each(filtersList.filters, function(filter) {
                    filtersList.disableFilter(filter);
                });
            });

            $('#getValuesButton').on('click', function() {
                var values = filtersList.getValues();
                $('#filterValue').html(JSON.stringify(values, null, 4));
            });
            $('#clearValuesButton').on('click', function() {
                $('#filterValue').html('');
            });
            $('#setValuesButton').on('click', function() {
                var values = {
                    'text_filter': {
                        value: $('#filterForm input[name="text_value"]').val(),
                        type: $('#filterForm input[name="text_type"]').val()
                    },
                    'number_filter': {
                        value: $('#filterForm input[name="number_value"]').val(),
                        type: $('#filterForm input[name="number_type"]').val()
                    },
                    'date_filter': {
                        value: {
                            start: $('#filterForm input[name="date_value_from"]').val(),
                            end: $('#filterForm input[name="date_value_to"]').val()
                        },
                        type: $('#filterForm input[name="date_type"]').val()
                    },
                    'datetime_filter': {
                        value: {
                            start: $('#filterForm input[name="datetime_value_from"]').val(),
                            end: $('#filterForm input[name="datetime_value_to"]').val()
                        },
                        type: $('#filterForm input[name="datetime_type"]').val()
                    },
                    'boolean_filter': {
                        value: $('#filterForm input[name="boolean_value"]').val()
                    },
                    'select_filter': {
                        value: $('#filterForm input[name="select_value"]').val()
                    },
                    'multiselect_filter': {
                        value: [
                            $('#filterForm input[name="multiselect_value_1"]').val(),
                            $('#filterForm input[name="multiselect_value_2"]').val()
                        ]
                    }
                };
                filtersList.setValues(values);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div style="padding:0 20px;">
        <h2>Filter Demo</h2>
        <div id="demoFilterList"></div>

        <h3>Show/Hide filters</h3>
        <input type="button" class="btn" value="Show all filters" id="showAllFiltersButton" />
        <input type="button" class="btn" value="Hide all filters" id="hideAllFiltersButton" />
        <input type="button" class="btn" value="Show select filter" id="showSelectFilterButton" />
        <input type="button" class="btn" value="Hide select filter" id="hideSelectFilterButton" />

        <h3>Get Filter Values</h3>
        <div>
            <pre style="font-size: 14px;" id="filterValue"></pre>
        </div>
        <input type="button" class="btn" value="Get Values" id="getValuesButton" />
        <input type="button" class="btn" value="Clear" id="clearValuesButton" />

        <h3>Set Filter Values</h3>
        <div id="filterForm">
            <table class="table table-condensed">
                <tr>
                    <td>Text value:</td>
                    <td><input type="text" name="text_value" value="text value" /></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Text type:</td>
                    <td><input type="text" name="text_type" value="2" /></td>
                </tr>
                <tr>
                    <td>Number value:</td>
                    <td><input type="text" name="number_value" value="42" /></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Number type:</td>
                    <td><input type="text" name="number_type" value="4" /></td>
                </tr>
                <tr>
                    <td>Date value from:</td>
                    <td><input type="text" name="date_value_from" value="2001-01-01" /></td>
                    <td>Date value to:</td>
                    <td><input type="text" name="date_value_to" value="2012-12-31" /></td>
                    <td>Date type:</td>
                    <td><input type="text" name="date_type" value="2" /></td>
                </tr>
                <tr>
                    <td>Datetime value from:</td>
                    <td><input type="text" name="datetime_value_from" value="2001-01-01 01:12:00" /></td>
                    <td>Datetime value to:</td>
                    <td><input type="text" name="datetime_value_to" value="2012-12-31 23:59:00" /></td>
                    <td>Datetime type:</td>
                    <td><input type="text" name="datetime_type" value="1" /></td>
                </tr>
                <tr>
                    <td>Boolean value:</td>
                    <td><input type="text" name="boolean_value" value="1" /></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Select value:</td>
                    <td><input type="text" name="select_value" value="2" /></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Multiselect value:</td>
                    <td><input type="text" name="multiselect_value_1" value="1" /></td>
                    <td><input type="text" name="multiselect_value_2" value="3" /></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <input type="button" class="btn" value="Set values" id="setValuesButton" />
    </div>

{% endblock %}
