{% extends bap.layout is defined ? bap.layout : 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% set title = jobConfId ? "Edit configuration" : "Add configuration" %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}

    {% include 'AcmeDemoDataFlowBundle:Configure:steps.html.twig' with {'steps': steps} %}

    <form action="{{ path('acme_demodataflow_configure_job', { conId: conId, jobId: jobId, conConfId: conConfId, jobConfId: jobConfId }) }}" method="POST" class="form-register">
    
        <fieldset>
            <legend>{{ "Load configuration" | trans }}</legend>
    
            <ul>
            {% for configuration in configurations %}
                <li><a href="{{ path('acme_demodataflow_configure_job', { conId: conId, jobId: jobId, conConfId: conConfId, jobConfId: configuration.id }) }}">Load configuration "{{ configuration.description }}"</a></li>
            {% endfor %}
                <li><a href="{{ path('acme_demodataflow_configure_job', { conId: conId, jobId: jobId, conConfId: conConfId, jobConfId: 0 }) }}">Reset to create a new configuration</a></li>
            </ul>
    
        </fieldset>
    
        <fieldset>
            <legend>{{ title | trans }}</legend>
    
            {{ form_widget(form) }}
    
            <div class="form-row">
                <button class="btn btn-large btn-primary pull-right" type="submit">{{ "Next" | trans }}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}
