{% extends bap.layout is defined ? bap.layout : 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% set title = 'Select connector' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}

    {% include 'AcmeDemoDataFlowBundle:Configure:steps.html.twig' with {'steps': steps} %}

    <fieldset>
        <legend>{{ "Use an existing connector" | trans }}</legend>
        <ul>
        {% for connector in connectors %}
            <li>{{ connector.configuration.description }} ({{ (connector.serviceId ~ ".label") | trans }})
                <ul>
                    <li><a href="{{ path('acme_demodataflow_configure_edit', {'id': connector.id}) }}">{{ "Configure" | trans }}</a></li>
                    <li><a href="{{ path('acme_demodataflow_configure_run', {'id': connector.id}) }}">{{ "Use" | trans }}</a></li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    </fieldset>

    <fieldset>
        <legend>{{ "Add a new connector" | trans }}</legend>
        <ul>
        {% for connector in connectors %}
            <li>
                <a href="{{ path('acme_demodataflow_configure_create', {'serviceId': connector.serviceId}) }}">
                    {{ (connector.serviceId ~ ".label") | trans }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </fieldset>

{% endblock %}
