{% extends bap.layout is defined ? bap.layout : 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% set title = 'Run' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}

    {% include 'AcmeDemoDataFlowBundle:Configure:steps.html.twig' with {'steps': steps} %}

    <p>{{ "Ready to run" | trans }}</p>
    <ul>
        <li>{{ "Connector " | trans }} {{ (conId ~ ".label") | trans }} {{ "with configuration" | trans }} "{{ conConf.description }}" </li>
        <li>{{ "Job " | trans }} {{ (jobId ~ ".label") | trans }} {{ "with configuration" | trans }} "{{ jobConf.description }}" </li>
    </ul>

{% endblock %}
