{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% block content %}

    <h1>{{ "Edit attribute" | trans }}</h1>

    <form action="{{ path('acme_demoflexibleentity_customerattribute_update', {'id': entity.id}) }}" method="post" {{ form_enctype(form) }}>
        
        {% if form.get('errors') is not empty %}
            <div class="alert alert-error">{{ form_errors(form) }}</div>
        {% endif %}
        
        <div class="form-panel ui-corner-all">
            {{ form_widget(form) }}
        </div>

        <button class="btn btn-large btn-primary" type="submit">{{ "Save" | trans }}</button>

    </form>
        
    <hr />

{% endblock %}
