{% extends 'AcmeDemoBundle:Default:twoColumnLeft.html.twig' %}

{% oro_title_set({suffix: " - " ~ "Segmentation tree"|trans}) %}

{% block head_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jstree/jquery.jstree.tree_selector.js') }}"></script>
{% endblock %}

{% block page_container %}
    <div id="tree_menu" style="overflow:auto;">
        <button id="refresh" class="btn btn-small">{{ "acme.demosegmentationtree.button.refresh_tree" | trans }}</button>
        <button id="add_segment" class="btn btn-small">{{ "acme.demosegmentationtree.button.add_segment" | trans }}</button>
        <button id="rename" class="btn btn-small">{{ "acme.demosegmentationtree.button.rename_segment" | trans }}</button>
        <button id="remove" class="btn btn-small">{{ "acme.demosegmentationtree.button.remove_segment" | trans }}</button>
        <input id="search_text" class="input-small" placeholder="Search..." type="text" value="" />
        <button id="search" class="btn btn-small">{{ "acme.demosegmentationtree.button.search_segment" | trans }}</button>
        <button id="clear_search" class="btn btn-small">{{ "acme.demosegmentationtree.button.clear_search" | trans }}</button>
        <div>
            <input id="create_tree_title" class="input-small" placeholder="Tree title" type="text" value="" />
            <button id="create_tree" class="btn btn-small">{{ "acme.demosegmentationtree.button.create_tree" | trans }}</button>
        </div>
        <div>
            <input id="add_item_id" class="input-small" placeholder="Item id to add" type="text" value="" />
            <button id="add_item" class="btn btn-small">{{ "acme.demosegmentationtree.button.add_item_by_id" | trans }}</button>
        </div>
        <div>
            <input id="remove_item_id" class="input-small" placeholder="Item id to remove" type="text" value="" />
            <button id="remove_item" class="btn btn-small">{{ "acme.demosegmentationtree.button.remove_item_by_id" | trans }}</button>
        </div>
    </div>
    {{ parent()}}
{% endblock %}

{% block sidebar %}
    <div id="tree">
    </div>

    <!-- JavaScript for the tree -->
    <script type="text/javascript">
        var assetsPath = "{{ asset('bundles/acmedemosegmentationtree/') }}";
    </script>
    <script type="text/javascript" src="{{ asset('bundles/acmedemosegmentationtree/js/acmedemosegmentationtree.jstree.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="list">
        <table id="product_grid" border="1">
        </table>
    </div>

{% endblock %}
