{% extends "OroUIBundle:Default:index.html.twig" %}

{% block content %}

    <div class="container-fluid" style="background-color: #EDEDED;">
        <div class="row-fluid" id="wrapper" style="background-color: #FFF;">
            <div class="span3">
                <div id="sidebar">
                    <br/>
                    <ul id="menu-block">
                        <li class="subtitle"><strong>Settings</strong></li>
                        <li><a href="{{ path('acme_demoflexibleentity_loader_truncatedb') }}">Reset DB</a></li>
                        <li><a href="{{ path('acme_demoflexibleentity_flexible_entityconfig') }}">Config flexibles</a></li>
    
                        <li class="subtitle"><strong>Simple entity manufacturer</strong></li>
                        <li><a href="{{ path('acme_demoflexibleentity_loader_manufacturer') }}">Insert manufacturers</a></li>
                        <li><a href="{{ path('acme_demoflexibleentity_manufacturer_index') }}">List manufacturers</a></li>
    
                        <li class="subtitle"><strong>Flexible entity customer (no translatable values)</strong></li>
                        <li><a href="{{ path('acme_demoflexibleentity_loader_customerattribute') }}">Insert attributes</a></li>
                        <li><a href="{{ path('acme_demoflexibleentity_customer_attribute') }}">List attributes</a></li>
                        <li><a href="{{ path('acme_demoflexibleentity_loader_customer') }}">Insert customers</a></li>
                        <li><a href="{{ path('acme_demoflexibleentity_customer_index') }}">List customers</a></li>
    
                        <li class="subtitle"><strong>Flexible entity product (translatable values)</strong></li>
                        <li><a href="{{ path('acme_demoflexibleentity_loader_productattribute') }}">Insert attributes</a></li>
                        <li><a href="{{ path('acme_demoflexibleentity_product_attribute') }}">List attributes</a></li>
                        <li><a href="{{ path('acme_demoflexibleentity_loader_product') }}">Insert products</a></li>
                        <li><a href="{{ path('acme_demoflexibleentity_loader_producttranslate') }}">Translate products</a></li>
                        <li><a href="{{ path('acme_demoflexibleentity_product_index') }}">List products</a></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <div id="content">

                    {% for flashMessage in app.session.flashbag.get('notice') %}
                       <div class="alert alert-success">
                            <button data-dismiss="alert" class="close" type="button">&times;</button>
                            <strong>Well done!</strong>
                        {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% block pagecontent %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

