{% extends 'AcmeDemoWorkflowBundle::layout.html.twig' %}

{% set title = workflow.label %}

{% block content %}
    <h1>{{ title }}</h1>
    <h3>{{ currentStep.label }}</h3>

    <form action="{{ path('acme_demoworkflow_workflowitem_edit', {id: workflowItem.id}) }}" method="POST">
        <div class="form-horizontal">
            <h5 class="usser-fiedset"><span>Workflow Data</span></h5>

            <div class="usser-row form-container">
                <fieldset class="form-horizontal">
                    {{ form_widget(stepForm) }}
                    {{ form_rest(stepForm) }}
                </fieldset>
            </div>
            <div class="form-row">
                <button class="btn btn-large btn-primary pull-right" type="submit">{{ "Save" | trans }}</button>
            </div>
            <br/>
            <br/>

            <h5 class="usser-fiedset"><span>Allowed Transitions</span></h5>
            {% for transitionName in currentStep.allowedTransitions %}
                {% set transition = workflow.transitions[transitionName] %}
                {% if workflow.isTransitionAllowed(workflowItem, transition) %}
                    <a class="btn btn-large btn-success" href="{{ path('acme_demoworkflow_workflowitem_transit', {id: workflowItem.id, transitionName: transitionName}) }}">
                        {{ transition.label }}
                    </a>
                {% else %}
                    <button class="btn btn-large btn-info" type="submit" disabled="disabled">{{ transition.label }}</button>
                {% endif %}
            {% endfor %}
        </div>
    </form>

    {#&#123;&#35; Related entities should be added dynamicly &#35;&#125;#}
    {#<h3>Related Entities</h3>#}

    {#<div class="form-horizontal">#}
        {#<h5 class="usser-fiedset"><span>Phone Call</span></h5>#}
        {#<div class="control-group">#}
            {#<label class="control-label">Number</label>#}
            {#<div class="controls">#}
                {#<p class="control-label">{{ entity.number }}</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="control-group">#}
            {#<label class="control-label">Name</label>#}
            {#<div class="controls">#}
                {#<p class="control-label">{{ entity.name }}</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="control-group">#}
            {#<label class="control-label">Description</label>#}
            {#<div class="controls">#}
                {#<p class="control-label">{{ entity.description }}</p>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}


{% endblock %}
