{% extends 'AcmeDemoWorkflowBundle::layout.html.twig' %}

{% block content %}
    <h1>Workflow Items</h1>

    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th>ID</th>
            <th>Workflow Name</th>
            <th>Current Step Name</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th></th>
        </tr>
        {% for workflowItem in workflowItems %}
        {% set currentWorkflow = workflows[workflowItem.workflowName] %}
        {% set currentStep = currentWorkflow.getStep(workflowItem.currentStepName) %}
        <tr>
            <td>
                {{ workflowItem.id }}
            </td>
            <td>
                {{ currentWorkflow.label }}
            </td>
            <td>
                {{ currentStep.label }}
            </td>
            <td>
                {{ workflowItem.createdAt|date }}
            </td>
            <td>
                {{ workflowItem.updatedAt|date }}
            </td>
            <td>
                <a href="{{ path('acme_demoworkflow_workflowitem_edit', {id: workflowItem.id}) }}">Edit</a>
            </td>
        </tr>
        <tr>
            {% endfor %}
    </table>
{% endblock %}
