{% import 'OroUIBundle::macros.html.twig' as macros %}

{% macro renderRow(label, value) %}
    {% import 'OroUIBundle::macros.html.twig' as macros %}
    {{ macros.renderAttribute(label, '<p class="control-label">' ~ value|default('N/A'|trans) ~ '</p>') }}
{% endmacro %}

<style type="text/css">
    .phone-info {
        min-height: 100px;
    }
    .phone-info .conversations-table {
        background-color: #ffffff;
    }
    .phone-info .conversations-hint {
        text-align: center;
    }
</style>

<div class="widget-content box-content phone-info">
    <div class="span6">
        {{ _self.renderRow('Number', entity.number) }}
        {{ _self.renderRow('Name', entity.name) }}
        {{ _self.renderRow('Description', entity.description) }}
    </div>
    <div class="span6">
        {% if entity.conversations is not empty %}
            <table class="table table-bordered table-condensed table-hover conversations-table">
                <tr>
                    <th>Result</th>
                    <th>Comment</th>
                    <th>Successful</th>
                </tr>
                {% for conversation in entity.conversations %}
                    <tr>
                        <td>{{ conversation.result }}</td>
                        <td>{{ conversation.comment }}</td>
                        <td>{{ conversation.successful ? 'yes' : 'no' }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="conversations-hint">
                No conversations found.
            </div>
        {% endif %}
    </div>
</div>
