{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% block pagecontent %}

    <ul id="menu-block">
        <li><a href="{{ path('acme_demoflexibleentity_product_index') }}">Select entities and all attribute values</a></li>
        <li><a href="{{ path('acme_demoflexibleentity_product_querylazyload') }}">Select just entities, attributes and values are lazy loaded</a></li>
        
        <li><a href="{{ path('acme_demoflexibleentity_product_queryonlyname') }}">Select with only attribute name</a></li>
        <li><a href="{{ path('acme_demoflexibleentity_product_querynameanddesc') }}">Select with attribute name and description</a></li>
        <li><a href="{{ path('acme_demoflexibleentity_product_querynameanddescforcelocale') }}">Select with attribute name and description (force french)</a></li>
        
        <li><a href="{{ path('acme_demoflexibleentity_product_queryfilterskufield') }}">Select filtered on field sku = 'sku-2'</a></li>
        <li><a href="{{ path('acme_demoflexibleentity_product_querynamefilterskufield') }}">Select with attribute name and filtered on field sku = 'sku-2'</a></li>
        
        <li><a href="{{ path('acme_demoflexibleentity_product_queryfiltersizeattribute') }}">Select with attribute description, size filtered on attribute size = 175</a></li>
        <li><a href="{{ path('acme_demoflexibleentity_product_queryfiltersizeanddescattributes') }}">Select with attribute description, size filtered on attribute size = 175 and description = 'my other description'</a></li>

        <li><a href="{{ path('acme_demoflexibleentity_product_querynameanddescorderby') }}">Select with attribute name and description order by description DESC and id ASC</a></li>
        <li><a href="{{ path('acme_demoflexibleentity_product_querynameanddesclimit') }}">Select with attribute name and description limit 0, 10</a></li>
    </ul>

    <p>Nb results : {{ products|length }}</p>

        <div class="popup-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Sku</th>

                    {% if 'name' in attributes %}
                        <th>Name</th>
                    {% endif %}

                    {% if 'description' in attributes %}
                        <th>Description</th>
                    {% endif %}

                    {% if 'size' in attributes %}
                        <th>Size</th>
                    {% endif %}

                    {% if 'color' in attributes %}
                       <th>Color</th>
                    {% endif %}

                    <th>Action</th>

                </tr>
                </thead>
                <tbody>

                {% for product in products %}
                <tr>
                    <!-- fields -->
                    <td>{{ product.id }}</td>
                    <td>{{ product.sku }}</td>

                    <!-- attributes -->
                    {% if 'name' in attributes %}
                       <td>{{ product.name }}</td>
                    {% endif %}

                    {% if 'description' in attributes %}
                        <td>{{ product.description }}</td>
                    {% endif %}

                    {% if 'size' in attributes %}
                        <td>{{ product.size }}</td>
                    {% endif %}

                    {% if 'color' in attributes %}
                        <td>{{ product.color }}</td>
                    {% endif %}
                    <td><a href="{{ path('acme_demoflexibleentity_product_view', {'id': product.id}) }}">Load details</a></td>
                 </tr>
                 {% endfor %}

                </tbody>
            </table>
        </div>
        <hr />

{% endblock %}
