{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% block pagecontent %}

    <h3>Get fields values</h3>
    <ul>
        <li>id:      {{product.id}}</li>
        <li>sku:     {{product.sku}}</li>
        <li>created: {{product.created|date('Y-m-d h:i:s')}}</li>
        <li>updated: {{product.updated|date('Y-m-d h:i:s')}}</li>
    </ul>

    <h3>Get explicit attributes values (use current locale)</h3>
    <ul>
        <li>Name :        {{product.name}}</li>
        <li>Description : {{product.description}}</li>
        <li>Color :       {{product.color}}</li>
        <li>Size :        {{product.size}} {% if product.size is not null %} {{ product.getValue('size').getUnit() }} {% endif %}</li>
        <li>Price :       {{product.price}} {% if product.price is not null %} {{ product.getValue('price').getCurrency() }} {% endif %}</li>

    </ul>

    <h3>All attributes values (all values including translated)</h3>
    <ul>
        {% for value in product.values %}
            <li>{{value.attribute.code}} : {{value.localecode}} : {{value.data}}</li>
        {% endfor %}
    </ul>

    <a class="btn btn-small btn-primary disabled" href="{{ path('acme_demoflexibleentity_product_index') }}">
        {{ "Back to list" | trans }}
    </a>

{% endblock %}
