{% extends 'AcmeDemoWindowsBundle::layout.html.twig' %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/orowindows/css/jquery.dialog.extended.css') }}" media="all" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/jquery.dialog.extended.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/views/dialog.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/models/state.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/collections/state.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/views/dialog.js') }}"></script>

    <script type="text/javascript">
        Oro.widget.StateModel.prototype.urlRoot = {{ path('oro_api_get_windows')|json_encode|raw }};
        Oro.widget.StateCollection.prototype.url = {{ path('oro_api_get_windows')|json_encode|raw }};
    </script>
{% endblock head %}
{% block header %}
{% endblock %}
{% block content %}

    <div class="row-fluid">

        <div class="container-fluid" style="min-height: 900px; background-color:#d0def1;" id="window-container">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button id="opener1" class="btn">Open example 1</button>
                    <button id="opener2" class="btn">Open example 2</button>
                    <button id="opener3" class="btn">Open example 3</button>
                </div>
            </div>

{% set containerAttrs = {"style": "display: none;"} %}
{{ oro_windows_render(containerAttrs) }}

        </div>
    </div>

    <script>
        $(function(){
            Oro.widget.States.fetch({
                success: function(data) {
                    data.each(function(windowState) {
                        new Oro.widget.DialogView({
                            model: windowState
                        }).render();
                    });
                }
            });
            var pos = 0;
            $("#opener1").click(function(){
                new Oro.widget.DialogView({
                    url: {{ path('acme_demowindows_forms_test')|json_encode|raw }},
                    dialogOptions: {
                        allowMaximize: true,
                        allowMinimize: true,
                        dblclick: 'maximize',
                        maximizedHeightDecreaseBy: 'minimize-bar',
                        appendTo: '#main .row-fluid',
                        width : 400,
                        height : 305
                    }
                }).render();
            });
            $("#opener2").click(function(){
                new Oro.widget.DialogView({
                    url: {{ path('acme_demowindows_forms_test2')|json_encode|raw }},
                    dialogOptions: {
                        allowMinimize: true,
                        dblclick: 'collapse',
                        width : 400,
                        height : 300
                    }
                }).render();
            });
            $("#opener3").click(function(){
                new Oro.widget.DialogView({
                    url: {{ path('acme_demowindows_forms_testget', {'id': 10})|json_encode|raw }},
                    dialogOptions: {
                        width : 400,
                        height : 300
                    }
                }).render();
            });
        });
    </script>
{% endblock content %}