{% extends bap.layout is defined ? bap.layout : 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% set title = 'Run' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}

    {% include 'AcmeDemoDataFlowBundle:Connector:steps.html.twig' with {'steps': steps} %}

    <p>{{ "Ready to run" | trans }}</p>
    <ul>
        <li>{{ "Connector " | trans }} {{ conId }} {{ "with configuration" | trans }} {{ conConfId }} </li>
        <li>{{ "Job " | trans }} {{ jobId }} {{ "with configuration" | trans }} {{ jobConfId }} </li>
    </ul>

{% endblock %}
