{% extends bap.layout is defined ? bap.layout : 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% set title = 'Select connector' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}

    {% include 'AcmeDemoDataFlowBundle:Connector:steps.html.twig' with {'steps': steps} %}

    <fieldset>
        <legend>{{ "Create a job" | trans }}</legend>

        <ul>
        {% for connectorId, jobs in connectorsToJobs %}
            <li>Connector {{ (connectorId ~ ".label") | trans }}
            <ul>
            {% for jobId in jobs %}
                <li><a href="{{ path('acme_demodataflow_connector_configure', {'conId': connectorId, 'jobId': jobId}) }}">{{ (jobId ~ ".label") | trans }}</a></li>
            {% endfor %}
            </ul>
            </li>
            
        {% endfor %}
        </ul>
    </fieldset>

{% endblock %}
