{% extends bap.layout is defined ? bap.layout : 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% set title = 'Select connector' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}

    <STYLE type="text/css">
        .dataflow-steps li {width:225px;}
    </STYLE>
    
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav dataflow-steps">
                <li class="active"><a href="{{ path('acme_demodataflow_connector_select') }}">(1) Select connector</a></li>
                <li><a href="{{ path('acme_demodataflow_connector_select') }}">(2) Configure connector</a></li>
                <li><a href="{{ path('acme_demodataflow_connector_select') }}">(3) Select job</a></li>
                <li><a href="{{ path('acme_demodataflow_connector_select') }}">(4) Configure job</a></li>
                <li><a href="{{ path('acme_demodataflow_connector_select') }}">(5) Schedule / run</a></li>
            </ul>
        </div>
    </div>

    <ul>
    {% for connectorId in connectorIds %}
        <li class="active"><a href="{{ path('acme_demodataflow_connector_configure', {'connectorId': connectorId}) }}">{{ connectorId }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
