{% extends bap.layout %}

{% block content_header '' %}

{% block content %}
    <div style="background: #FFF">
        <h1>Customers List</h1>
        <p><a href="{{ path('acme_demo_create_attribute')}}">Add new attribute</a> <a href="{{ path('acme_demo_query')}}">Demo search</a></p>
        <table class="table">
            <tr>
                <td>
                    First name
                </td>
                <td>
                    Last Name
                </td>
                <td>
                    city
                </td>
            </tr>
            {% for customer in customers %}
                <tr>
                    <td>
                        {{ customer.firstName }}
                    </td>
                    <td>
                        {{ customer.lastName }}
                    </td>
                    <td>
                        {{ customer.city }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p></p>
        <h2>Add new customer</h2>
        <form action="{{ path('acme_demo_customers')}}" method="post" {{ form_enctype(form) }} class="form-register">
            {{ form_widget(form) }}
            <input type="submit" value="Add" class="btn"/>
        </form>
    </div>
{% endblock %}
