{% extends 'AcmeDemoWorkflowBundle::layout.html.twig' %}

{% block content %}
    <h1>Phone Calls
        <a class="btn btn-primary pull-right" href="{{ path('acme_demoworkflow_phonecall_create') }}">New Phone Call</a>
    </h1>

    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th>ID</th>
            <th>Number</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for phoneCall in phoneCalls %}
        <tr>
            <td>
                {{ phoneCall.id }}
            </td>
            <td>
                <a href="{{ path('acme_demoworkflow_phonecall_view', {id: phoneCall.id}) }}">
                    {{ phoneCall.number }}
                </a>
            </td>
            <td>{{ phoneCall.name }}</td>
            <td>{{ phoneCall.description }}</td>
            <td>
                <a href="{{ path('acme_demoworkflow_phonecall_view', {id: phoneCall.id}) }}">View</a>
                <a href="{{ path('acme_demoworkflow_phonecall_edit', {id: phoneCall.id}) }}">Edit</a>
            </td>
        </tr>
        <tr>
            {% endfor %}
    </table>
{% endblock %}
