{% extends 'AcmeDemoWorkflowBundle::layout.html.twig' %}

{% set title = "Phone Call" %}

{% block content %}
    <h1>{{ title | trans }}
        <a class="btn btn-primary pull-right" style="margin-left:10px;" href="{{ path('acme_demoworkflow_phonecall_list') }}">{{ "List" | trans }}</a>
        <a class="btn btn-primary pull-right" style="margin-left:10px;" href="{{ path('acme_demoworkflow_phonecall_edit', {id: phoneCall.id}) }}">{{ "Edit" | trans }}</a>
    </h1>

    <div class="form-horizontal">
        <h5 class="usser-fiedset"><span>Start Workflow</span></h5>
        {% for workflow in applicableWorkflows %}
            <table class="table table-bordered table-striped" style="width: auto;">
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>{{ workflow.label }}</td>
                    <td>
                        <a class="btn" href="{{ path('acme_demoworkflow_workflowitem_create', {entityId: phoneCall.id, workflowName: workflow.name}) }}">
                            {{ workflow.startStep.label }}
                        </a>
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>

    <div class="form-horizontal">
        {% include 'AcmeDemoWorkflowBundle:PhoneCall:callDescription.html.twig' with {'phoneCall': phoneCall} %}
        <div class="span6">
            <div class="form-horizontal">
                <h5 class="usser-fiedset"><span>Workflow Items</span></h5>
                {% if workflowItems is not empty %}
                    <table class="table table-bordered table-striped" style="width: auto;">
                        <tr>
                            <th>Workflow</th>
                            <th>Current Step</th>
                            <th>Closed</th>
                            <th>Created</th>
                            <th>Updated</th>
                        </tr>
                        {% for workflowItem in workflowItems %}
                            <tr>
                                <td>{{ workflowItem.workflowName }}</td>
                                <td>
                                    <a href="{{ path('acme_demoworkflow_workflowitem_edit', {id: workflowItem.id}) }}">
                                        {{ workflowItem.currentStepName }}
                                    </a>
                                </td>
                                <td>{{ workflowItem.closed ? 'yes' : 'no' }}</td>
                                <td>
                                    {% if workflowItem.createdAt is not empty %}
                                        {{ workflowItem.createdAt|date("m/d/Y H:i") }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if workflowItem.updatedAt is not empty %}
                                        {{ workflowItem.updatedAt|date("m/d/Y H:i") }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    No workflow items found.
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
