{% extends bap.layout is defined ? bap.layout : 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% set title = 'Dataflow connectors' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}

    <h3>Connectors references</h3>
    {{ dump(connectors) }}
    
    <h3>Jobs references</h3>
    {{ dump(jobs) }}
    
    <h3>Connectors to jobs aliases</h3>
    {{ dump(connectorsToJobs) }}

{% endblock %}
