{% extends bap.layout %}

{% block content %}
    <div class="span3">
        <h2>Flexible</h2>
        <a class="btn" href="{{ path('acme_demoflexibleentity_customer_index') }}">Run demo</a>
    </div>
    <div class="span2">
        <h2>UI</h2>
        <a class="btn" href="{{ path('oro_ui_index') }}">Run demo</a>
    </div>
    <div class="span2">
        <h2>Search</h2>
        <a class="btn" href="{{ path('acme_demo_search') }}">Run demo</a>
    </div>
    <div class="span2">
        <h2>User</h2>
        <a class="btn" href="{{ path('oro_user_index') }}">Run demo</a>
    </div>
    <div class="span3">
        <h2>Measure</h2>
        <a class="btn" href="{{ path('acme_demomeasure_measure_index') }}">Run demo</a>
    </div>
    <div class="span3">
        <h2>DataFlow</h2>
        <a class="btn" href="{{ path('acme_demodataflow_connector_select') }}">Run demo</a>
    </div>
{% endblock %}
