{% extends bap.layout is defined ? bap.layout : 'OroUIBundle:Default:index.html.twig' %}

{% block content %}
    <div class="span2">
        <h2>UI</h2>
        <a class="btn" href="{{ path('oro_ui_index') }}">Run demo</a>
    </div>
    <div class="span2">
        <h2>Search</h2>
        <a class="btn" href="{{ path('acme_demo_advanced_search') }}">Run demo</a>
    </div>
    <div class="span2">
        <h2>User</h2>
        <a class="btn" href="{{ path('oro_user_index') }}">Run demo</a>
    </div>
    <div class="span3">
        <h2>Measure</h2>
        <a class="btn" href="{{ path('acme_demomeasure_measure_index') }}">Run demo</a>
    </div>
    <div class="span3">
        <h2>DataFlow</h2>
        <a class="btn" href="{{ path('oro_dataflow_connector_index') }}">Run demo</a>
    </div>

    <div class="span3">
        <h2>Filter</h2>
        <a class="btn" href="{{ path('acme_demo_filterbundle_demo_frontend') }}">Run demo</a>
    </div>
{% endblock %}

{% block top_action_box %}{% endblock %}
