{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}
{% oro_title_set({params:{"%customer.name%": customer.firstname ~ ' ' ~ customer.lastname }}) %}
{% block content %}

    <h3>Get Fields values</h3>

    <ul>
        <!-- fields -->
        <li>id: {{customer.id}}</li>
        <li>email: {{customer.email}}</li>
        <li>firstname: {{customer.firstname}}</li>
        <li>lastname: {{customer.lastname}}</li>
        <li>created: {{customer.created|date('Y-m-d h:i:s')}}</li>
        <li>updated: {{customer.updated|date('Y-m-d h:i:s')}}</li>
    </ul>

    <h3>Get explicit attributes values</h3>
    <ul>
        <!-- attributes -->
        <li>Dob : {{ customer.dob|date('Y-m-d')}}</li>
        <li>Gender : {{ customer.gender }}</li>
        <li>Company : {{ customer.company }}</li>
        <li>Hobbies : {{ customer.hobby }}</li>
        <li>Website : {{ customer.website }}</li>
    </ul>

    <hr/>
    <a class="btn btn-small btn-primary" href="{{ path('acme_demoflexibleentity_customer_list') }}">
        {{ "Back to list" | trans }}
    </a>
    <br/><br/>

{% endblock %}
